/.bundle/
/.yardoc
/_yardoc/
/coverage/
/doc/
/pkg/
/spec/reports/
/tmp/

# rspec failure tracking
.rspec_status

# this is a gem, don't track the specific deps or build artifact
Gemfile.lock
rails_*.gemfile.lock
rspec-activerecord-expectations-*.gem
